<!DOCTYPE html>

<%- include('../partials/head') %>
<body>
  <%- include('../partials/header') %>
  <%- include('../partials/nav') %>

  <main>
    <h1 class="title">ERROR: <%= message %></h1>
  </main>

  <%- include('../partials/footer') %>
  
</body>
</html>