<!DOCTYPE html>

<%- include('../partials/head') %>
<body>
  <%- include('../partials/header') %>
  <%- include('../partials/nav') %>

  <main>
    <section class="operat-bar">
      <a class="w3-right btn-add-new btn" href="/sales/new">
        <i class="fa fa-plus"></i> NEW
      </a>
      <span class="w3-right search-item btn">SEARCH: 
        <select name="" id="">
          <option value="">Doc #</option>
          <option value="">Date</option>
          <option value="">Channel</option>
          <option value="">Customer</option>
        </select>
        <input type="text">
      </span>
    </section>
    <h1 class="title">SALES</h1>
    <div class="table-wrapper">
      <table class="w3-table">
        <tr>
          <th></th>
          <th>Order #</th>
          <th>Date</th>
          <th>Channel</th>
          <th>Customer</th>
          <th>Total Qty</th>
          <th>Amount</th>
        </tr>
        
        <% for(let i = 0; i < sales.length; i++) { %>
          <tr>
            <td></td>
            <td><%= sales[i].docnumber %></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        <% } %>

        <tr>
          <td></td>
          <td>10024532</td>
          <td>2021-12-07</td>
          <td>ebay</td>
          <td>Tommy</td>
          <td>2</td>
          <td>150</td>
        </tr>
        <tr>
          <td></td>
          <td>10024533</td>
          <td>2021-12-07</td>
          <td>ebay</td>
          <td>Amber</td>
          <td>2</td>
          <td>160</td>
        </tr>
      </table>
    </div>
  </main>

  <%- include('../partials/footer') %>
  
</body>
</html>